<div class="self-center h-full flex flex-col items-center p-3 gap-1">
    <div class="flex w-[40rem] p-3 items-center justify-between text-blue-2 rounded-md  cursor-pointer bg-blue-3">
        <div class="flex gap-2 items-center">
            <img src="assets/images/default.jpg" class="object-cover size-20 rounded-full" alt="">
            <div class="flex flex-col gap-1">
                <span class="text-xl ">Username</span>
                <span class="font-light">Csa haver miert nem valaszolsz...</span>
            </div>
        </div>
        <div class="flex gap-2 items-center">
            <div class="size-5 flex bg-green-300 rounded-full"></div>
            <span>Online</span>
        </div>
    </div>
    <div class="flex w-[40rem] p-3 items-center justify-between text-blue-2 rounded-md  cursor-pointer bg-blue-3">
        <div class="flex gap-2 items-center">
            <img src="assets/images/default.jpg" class="object-cover size-20 rounded-full" alt="">
            <div class="flex flex-col gap-1">
                <span class="text-xl ">Username</span>
                <span class="font-light">Csa haver miert nem valaszolsz...</span>
            </div>
        </div>
        <div class="flex gap-2 items-center">
            <div class="size-5 flex bg-green-300 rounded-full"></div>
            <span>Online</span>
        </div>
    </div>
    <div class="flex w-[40rem] p-3 items-center justify-between text-blue-2 rounded-md  cursor-pointer bg-blue-3">
        <div class="flex gap-2 items-center">
            <img src="assets/images/default.jpg" class="object-cover size-20 rounded-full" alt="">
            <div class="flex flex-col gap-1">
                <span class="text-xl ">Username</span>
                <span class="font-light">Csa haver miert nem valaszolsz...</span>
            </div>
        </div>
        <div class="flex gap-2 items-center">
            <div class="size-5 flex bg-green-300 rounded-full"></div>
            <span>Online</span>
        </div>
    </div>
</div>

