<div class="w-full h-full flex flex-col bg-blue-1 p-3 gap-1">
    <div class="flex items-center bg-blue-3 p-3 rounded-md gap-3">
        <div mat-card-avatar class="header-image p-0 !m-0"></div>
        <span>Recommended user</span>
    </div>
    <div class="flex items-center bg-blue-3 p-3 rounded-md gap-3">
        <div mat-card-avatar class="header-image p-0 !m-0"></div>
        <span>Recommended user</span>
    </div>
    <div class="flex items-center bg-blue-3 p-3 rounded-md gap-3">
        <div mat-card-avatar class="header-image p-0 !m-0"></div>
        <span>Recommended user</span>
    </div>
</div>
