  <mat-card class="card-responsive">
    <mat-card-header class="bg-blue-1 rounded-t-lg">
      <img mat-card-avatar src="assets/images/default.jpg">
      <mat-card-title>{{ post.author.email }}</mat-card-title>
      <mat-card-subtitle>{{ post.author.lastName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bg-inherit">
      <p class="py-3">
        {{ post.content }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end" class="bg-blue-1 rounded-b-lg gap-3">
      <mat-icon class="cursor-pointer text-bluegray-1" fontIcon="favorite"></mat-icon>
      <mat-icon class="cursor-pointer " fontIcon="comment"></mat-icon>
    </mat-card-actions>
  </mat-card>
  
  